<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752726549705-1a3to06tcf26q8v9kp4b48gt762jhan7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752726549705-1a3to06tcf26q8v9kp4b48gt762jhan7</string>
	<key>API_KEY</key>
	<string>AIzaSyBIHhFapHg3WGRucgt865L-f-JDASdb5mw</string>
	<key>GCM_SENDER_ID</key>
	<string>752726549705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.visualBook.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>the-visual-book-8b994</string>
	<key>STORAGE_BUCKET</key>
	<string>the-visual-book-8b994.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752726549705:ios:6aa80b1f30453c0ed4d918</string>
	<key>DATABASE_URL</key>
	<string>https://the-visual-book-8b994-default-rtdb.firebaseio.com</string>
</dict>
</plist>